.block1{
	font-size: 50px;
	font-weight: bolder;
	font-family: agency FB;
	text-align: center;
	border: 5px solid burlywood;
	display: inline-block;
	align-content: center;
	margin-left: 30%;
}
.block2{
	background-color: tomato;
	font-weight: bolder ; 
	font-size: 20px;
	color: white;
	width: 65%;
	margin-left: 19%;
}

.aside{
	margin-left: 50%;
	background-color: white;
	color: black;
	padding: 5px;
}
fieldset{
	border: 5px solid black;
}
.figcap{
	text-align: center;
	font-weight: bold;
	background-color: burlywood;
	padding: 2px;
}
.figure{
	border: 2px solid white;
	padding: 4px;
}
.head{
	color: whitesmoke;
	font-weight: lighter;
	font-size: 30px;
}
.order{
	list-style-type: lower-roman;
}
ul{
	list-style-type: square;
}
.block3{
  margin-left: 20%;
  margin-right: 20%;
  width: 500px;
  border: 5px solid white;
  overflow: scroll;
  height: 300px;
}

img{
	width: 100%;
}
section{
	margin-left:200px;
	font-display: swap;
	font-size: 25px;
}
table{
	margin-left: 30%;
	margin-right: 20%;
    border: 2px solid white;
}

th{
	border: 2px solid white;
	
}
td{
	border: 2px solid white;
}
video{
	width: 700px;
	height: 300px;
	border: 5px solid floralwhite;
	margin : 2% 14% 2%;
}
.block4{
	font-size: 50px;
	font-weight: bolder;
	font-family: agency FB;
	border: 5px solid burlywood;
	display: inline-block;
	align-content: center;
	margin-left: 33%;

}
.block5{
	margin-left: 19%;
	background-color: cadetblue;
	font-size: 20px;
	color: azure;
	font-weight: bold;
	width: 65%;
	padding: 5px;
}
.but{
	background-color: whitesmoke;
	font-family: Times New Roman;
	color: black;
	font-size: 20px;
}

.block6{
	
	text-indent: 5px;
}
q{
	color: lightyellow;
	font-style: italic;
}
body{
	background-color: lightyellow;
}
textarea{
	font-size: 20px;
	font-weight: bolder;
	font-family: Times New Roman;
	background-color: lightyellow;
	margin-left: 40%;
}